nav{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}
h1{
    font-size: 35px;
    font-family: cursive;
    text-align: center;
}
table{
    margin: 45%;
    text-align: center;
}